<div class="bg-nike-tan px-10 hidden lg:flex flex-col">
    <div class="flex flex-row py-3">
        <div class="me-5">
            <!--  -->
            {{ $jordan := resources.Get "/img/jordan.svg" }}
            {{ $jordan.Content | safe.HTML }}            
        </div>
        <div class="me-auto">
            {{ $converse := resources.GetMatch "img/converse.svg" }}
            {{ $converse.Content | safe.HTML }}    
        </div>
        <div class="flex flex-row gap-x-3">
            <div class="relative h-20">
                <a href="https://refurbished.nike.com/" class="hover:text-nike-hover-link text-xs">Nike Refurbished</a>
                <div class="hover:invisible absolute bottom-0 inset-x-0 bg-slate-600">123</div>
            </div>
            <div class="">|</div>
            <div class="">
                <a href="https://www.nike.com/retail" class="hover:text-nike-hover-link text-xs">Retail</a>
            </div>
            <div class="">|</div>
            <div class="">
                <a href="https://www.nike.com/help" class="hover:text-nike-hover-link text-xs">Help</a>
            </div>
            <div class="">|</div>
            <div class="">
                <a href="https://www.nike.com/membership" class="hover:text-nike-hover-link text-xs">Join Us</a>
            </div>
            <div class="">|</div>
            <div class="">
                <a href="https://www.nike.com/login" class="hover:text-nike-hover-link text-xs">Sign In</a>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-row py-3 px-10 justify-between items-center bg-white">
    <div class="hover:opacity-50" style="width: 59px; height: 59px;">
        <a href="https://www.nike.com/">
            <svg aria-hidden="true" class="pre-logo-svg" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M21 8.719L7.836 14.303C6.74 14.768 5.818 15 5.075 15c-.836 0-1.445-.295-1.819-.884-.485-.76-.273-1.982.559-3.272.494-.754 1.122-1.446 1.734-2.108-.144.234-1.415 2.349-.025 3.345.275.2.666.298 1.147.298.386 0 .829-.063 1.316-.19L21 8.719z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
    <div class="flex flex-row justify-center gap-x-5">
        <a href="https://www.nike.com/w/new-3n82y" class="">New & Featured</a>
        <a href="https://www.nike.com/men" class="">Men</a>
        <a href="https://www.nike.com/women" class="">Women</a>
        <a href="https://www.nike.com/kids" class="">Kids</a>
        <a href="https://www.nike.com/w/accessories-equipment-awwpw" class="">Accessories</a>
        <a href="https://www.nike.com/w/sale-3yaep" class="">Sale</a>
    </div>
    <div class="">
        <a href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
    </div>
</div>